<div class="app-container">
    <h3>Fincharts</h3>
<div class="subscribe-section">
    <div class="instruments-select">
        <label for="instruments-select">Select instrument:</label>
        <ng-select
            id="instruments-select"
                [items]="instruments" 
                bindValue="id" 
                [(ngModel)]="instrument"
                [searchFn]="customSearch">
            >
            <ng-template ng-label-tmp let-item="item">
                {{item.baseCurrency}}{{item.baseCurrency ? '/' : ''}}{{item.currency}} <span class="select-label-desc">{{item.baseCurrency ? '' : item.description}}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
                {{item.baseCurrency}}{{item.baseCurrency ? '/' : ''}}{{item.currency}} <span class="select-label-desc">{{item.baseCurrency ? '' : item.description}}</span>
            </ng-template>
        </ng-select>
    </div>
    <div class="subs-button-container">
        <button class="subs-btn" 
            [disabled]="!instrument || 
            subscribedInstrumentsIds.includes(instrument)" 
            (click)="subscribeToInstrument()">
            Subscribe
        </button>
    </div>
    <br/>
</div>
<h4>Market data for instruments:</h4>
<div class="instrument-cards-container">
    @for (instrument of instrumentsWithUpdates; track instrument) {
        <app-instrument-card
            [instrumentWithUpdates]="instrument"
            (unsubscribeInstrument)="unsubscribeInstrument($event)"
        >
            <ng-content>
                <app-historical-price-chart
                    [data]="instrument?.candleData"
                >
                </app-historical-price-chart>
            </ng-content>
        </app-instrument-card>
    }
    
</div>
</div>